.root{
    -fx-background-color:#1d1f2a;
}

.label{
    /* -fx-text-fill:#A38995; */
    -fx-text-fill:#f3f0e9;
    -fx-font-weight:bold;
}
.button{
    -fx-background-color:#89609e;
    -fx-text-fill:white;
    -fx-cursor:hand;
}
.button:hover{
    -fx-effect:dropshadow(two-pass-box,#A38995,10,0.0,0,0);
}
.choice-box , .choice-box .context-menu{
    -fx-background-color:#343742;
    -fx-mark-color:#DA9100;
}
.choice-box .menu-item:hover{
    -fx-background-color:#DA9100;
    -fx-text-fill:#1d1f2a;
   /*  -fx-font-weight:bold; */
}
.choice-box .menu-item:hover .label{
    -fx-text-fill:#1d1f2a;
}
#pane > *{
    -fx-background-color:red;
}
.text-field{
    -fx-background-color:#343742;
    -fx-text-inner-color:white;
    -fx-highlight-fill:#DA9100;
    -fx-highlight-text-fill:#1d1f2a;
}
.radio-button .radio{
    -fx-background-color:#343742;
}
.radio-button .radio .dot{
    -fx-background-color:#DA9100;
}
.radio-button .text{
    -fx-fill:white;
}
.menu-bar .label{
    -fx-text-fill:white;
}
.menu-bar .menu-button{
    -fx-background-color:#1d1f2a;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused{
    -fx-background-color:#DA9100;
}
.menu-bar .context-menu{
    -fx-background-color:#1d1f2a;
}
.forgotBtn {

	-fx-text-fill: #2146ff;
}

.roomsBtn{
    -fx-background-color:#4c525f;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}

#dark.roomsBtn{
    -fx-background-color:#1d1f2a;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}

.roomsBtnMakeReservation{
    -fx-background-color:#517c63;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}
.reservationRightSide{
    -fx-background-color:#1d1f2a;
}
.reservationForm{

}
.reservationTitle{
    -fx-font: 26px "Candara";
    -fx-text-fill: #1d1f2a;
}

.reservationContent {
	-fx-background-color: rgba(77,83,97,255);
	-fx-text-fill: white;
}
.roomDetails{
    -fx-text-fill:#f3f0e9;
    -fx-background-color:#1d1f2a;
}

#main-viewBtn{
    /* -fx-background-color:#ab9c81; */
    -fx-background-color:#e7dfcf;
    -fx-cursor:hand;
    -fx-padding:5 30 5 30;
}

.formsAndInput{
    -fx-background-color:#4c525f;
    -fx-text-color:#f3f0e9;
}
