.root{
    -fx-background-color:#1d1f2a;
}
.table-view{
    -fx-background-color:#1d1f2a;
    -fx-background-radius:5;
/*     -fx-table-cell-border-color: transparent; */
}
.table-view .column-header-background{
    -fx-background-color:#343742;
    -fx-background-radius:5;
    -fx-padding:5 5 5 5;
}
.table-view .column-background, #table .column-background{
    -fx-background-color:transparent;
}
.table-view .table-cell{
    /* -fx-text-fill:#A38995; */
    -fx-text-fill:#e7dfcf;
    -fx-font-size:15px;
}
.table-view .table-row-cell{
    -fx-background:#343742;
    /*-fx-selection-bar:#DA9100;*/
    -fx-text-fill:#1d1f2a;
}
.table-view .table-row-cell:selected , .table-view .table-row-cell:selected .table-cell{
    -fx-background:#DA9100;
    -fx-text-fill:#1d1f2a;
    -fx-font-weight:bold;
}
.table-view .placeholder{
    -fx-background-color:#343742;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.label{
    /* -fx-text-fill:#A38995; */
    -fx-text-fill:#f3f0e9;
    -fx-font-weight:bold;
}
.date-picker{
    -fx-border-color:transparent;
    -fx-cursor:hand;
}
.date-picker > .text-field{
    -fx-background-color:#343742;
    /* -fx-text-fill:white; */
    -fx-text-fill:#f3f0e9;

}
.date-picker .arrow-button{
    -fx-background-color:#1d1f2a;
}
.date-picker .arrow-button .arrow{
    -fx-opacity:1;
    -fx-background-color:#89609e;
}
.date-picker-popup > * > .date-cell{
    -fx-background-color:#343742;
    -fx-text-fill:#A38995;
}
.date-picker-popup > * > .day-name-cell{
    /* -fx-text-fill:#DA9100; */
    -fx-text-fill:#f3f0e9;
    -fx-font-weight:bold;
}
.date-picker-popup > * > .selected{
    /* -fx-background-color:#f3f0e9; */

    -fx-text-fill:#1d1f2a;
    -fx-font-weight:bold;
}
.date-picker-popup > * > .day-cell:hover{
    /* -fx-background-color:#DA9100; */
    -fx-text-fill:#1d1f2a;
}
.date-picker > * > .previous-month,
.date-picker > * > .next-month{
    -fx-background-color:#89609e;
    -fx-text-fill:#1d1f2a;
}
.button{
    -fx-background-color:#89609e;
    -fx-text-fill:white;
    -fx-cursor:hand;
}
.button:hover{
    -fx-effect:dropshadow(two-pass-box,#A38995,10,0.0,0,0);
}
.choice-box , .choice-box .context-menu{
    -fx-background-color:#343742;
    -fx-mark-color:#DA9100;
}
.choice-box .menu-item:hover{
    -fx-background-color:#DA9100;
    -fx-text-fill:#1d1f2a;
   /*  -fx-font-weight:bold; */
}
.choice-box .menu-item:hover .label{
    -fx-text-fill:#1d1f2a;
}
#pane > *{
    -fx-background-color:red;
}
.text-field{
    -fx-background-color:#343742;
    -fx-text-inner-color:white;
    -fx-highlight-fill:#DA9100;
    -fx-highlight-text-fill:#1d1f2a;
}
.radio-button .radio{
    -fx-background-color:#343742;
}
.radio-button .radio .dot{
    -fx-background-color:#DA9100;
}
.radio-button .text{
    -fx-fill:white;
}
.menu-bar .label{
    -fx-text-fill:white;
}
.menu-bar .menu-button{
    -fx-background-color:#1d1f2a;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused{
    -fx-background-color:#DA9100;
}
.menu-bar .context-menu{
    -fx-background-color:#1d1f2a;
}
.forgotBtn {

	-fx-text-fill: rgb(82, 81, 79);
}

.roomsBtn{
    -fx-background-color:#4c525f;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}

#dark.roomsBtn{
    -fx-background-color:#1d1f2a;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}

.roomsBtnMakeReservation{
    -fx-background-color:#517c63;
    -fx-text-fill:#f3f0e9;
    -fx-cursor:hand;
}
.reservationRightSide{
    -fx-background-color:#1d1f2a;
}
.reservationForm{

}
.reservationTitle{
    -fx-font: 26px "Candara";
    -fx-text-fill: #1d1f2a;
}

.roomDetails{
    -fx-text-fill:#f3f0e9;
    -fx-background-color:#1d1f2a;
}

#main-viewBtn{
    /* -fx-background-color:#ab9c81; */
    -fx-background-color:#e7dfcf;
    -fx-text-fill:#1d1f2a;
    -fx-cursor:hand;
    -fx-padding:5 30 5 30;
}

.formsAndInput{
    -fx-background-color:#4c525f;
    -fx-text-color:#f3f0e9;
}

.table-row{
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.newUser {
	-fx-text-fill: rgb(217, 210, 195);
}
.forgotPassword {
	-fx-text-fill: rgb(217, 210, 195);
}
